**Question 1** 

try 5 different types of functions in string in python

In [ ]:
txt="different types of fuctions in strings"
x=txt.split()
print(x)

['different', 'types', 'of', 'fuctions', 'in', 'strings']

In [ ]:
txt="different types of fuctions in strings"
x=txt.index("i")
print(x)

1

In [ ]:
txt="different types of fuctions in strings"
x=txt.capitalize()
print(x)

Different types of fuctions in strings

In [ ]:
txt="different types of fuctions in strings"
x=txt.encode()
print(x)

b'different types of fuctions in strings'

In [ ]:
txt="different types of fuctions in strings"
x=txt.isalnum()
print(x)

False

**Question 2**

try 5 different function in list object

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'banana', 'cherry']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

**Question** **3**

In [52]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [58]:
car = {"brand": "Ford",
       "model": "Mustang",
       "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [60]:
car = {"brand": "Ford",
       "model": "Mustang",
       "year": 1964
      }

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

In [61]:
ar = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
      }

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'year': 1964, 'color': 'White'}

In [64]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
      }

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])